<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LN7Dance</title>
    <link rel="shortcut icon" href="../../Public/Assets/img/icons/icono-dance.png" />
    <link rel="stylesheet" href="../../Public/Assets/Css/Styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Public/Assets/Css/StudentAdmission.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">´
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation Bar-->

    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand me-auto" href="#">Logo</a>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2 active" aria-current="page"
                                    href="../Views/Connection.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="../Views/StudentAdmission.html">students gestion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="../Views/Events.html">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="../Views/TeacherPrograming.html">TeacherPrograming</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="../Views/ClassPrograming.html">ClassPrograming</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </a>
                <!--<a href="../../PUBLIC/Login.html" class="login-button">Login</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <!-- Navigation Bar Final-->

    <!-- Alumns Table-->
    <section class="align-items-center  container">


        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table"></i> Estudiantes
            </div>
            <div class="card-body">
                <table class="table table-white table-hover table-validation">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Nota</th>
                            <th scope="col">Profesor</th>
                            <th scope="col">Clase</th>
                            <th scope="col">Status</th>
                            <th scope="col">Modificar</th>
                        </tr>
                    </thead>
                    <tbody id="alumnosTable">
                        <tr>
                            <th scope="row"></th>
                            <td>Miguel</td>
                            <td>12</td>
                            <td>Juan</td>
                            <td>Salsa</td>
                            <td>Activo</td>
                            <td>
                                <button type="button" class="btn btn-success btn-modification" data-toggle="modal"
                                    data-target="#ModificationModal">
                                    Modificar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Miguel</td>
                            <td>12</td>
                            <td>Juan</td>
                            <td>Salsa</td>
                            <td>Activo</td>
                            <td>
                                <button type="button" class="btn btn-success btn-modification" data-toggle="modal"
                                    data-target="#ModificationModal">
                                    Modificar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Miguel</td>
                            <td>12</td>
                            <td>Juan</td>
                            <td>Salsa</td>
                            <td>Activo</td>
                            <td>
                                <button type="button" class="btn btn-success btn-modification" data-toggle="modal"
                                    data-target="#ModificationModal">
                                    Modificar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Miguel</td>
                            <td>12</td>
                            <td>Juan</td>
                            <td>Salsa</td>
                            <td>Activo</td>
                            <td>
                                <button type="button" class="btn btn-success btn-modification" data-toggle="modal"
                                    data-target="#ModificationModal">
                                    Modificar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Miguel</td>
                            <td>12</td>
                            <td>Juan</td>
                            <td>Salsa</td>
                            <td>Activo</td>
                            <td>
                                <button type="button" class="btn btn-success btn-modification" data-toggle="modal"
                                    data-target="#ModificationModal">
                                    Modificar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Miguel</td>
                            <td>12</td>
                            <td>Juan</td>
                            <td>Salsa</td>
                            <td>Activo</td>
                            <td>
                                <button type="button" class="btn btn-success btn-modification" data-toggle="modal"
                                    data-target="#ModificationModal">
                                    Modificar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </section>
    <!-- Alumns Table-->

    <!-- Modal Alumns Agregation-->
    <div class="modal fade" id="ModificationModal" tabindex="-1" aria-labelledby="ModificationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="ModificationModalLabel">Modificar Alumno</h5>
                </div>
                <div class="modal-body">
                    <form id="ModificationAlumnoForm">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="nota">Nota</label>
                            <input type="number" class="form-control" id="nota" required>
                        </div>
                        <div class="form-group">
                            <label for="profesor">Profesor</label>
                            <input type="text" class="form-control" id="profesor" required>
                        </div>
                        <div class="form-group">
                            <label for="clase">Clase</label>
                            <select class="form-control" id="clase" required>
                                <option value="Salsa">Salsa</option>
                                <option value="Bachata">Bachata</option>
                                <option value="Regueton">Regueton</option>
                                <option value="Meguengue">Meguengue</option>
                                <option value="Tango">Tango</option>
                                <option value="AfroDance">Afro Dance</option>
                                <option value="Varios">Varios</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" id="status" required>
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                                <option value="Pausado">Pausado</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="guardarCambios">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Alumns Agregation final-->

    <!--Calender Alumns -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table"></i> Calendario de clases
                    </div>
                    <div class="card-body">
                        <div class="p-5 mb-4  rounded-3">
                            <div class="container-fluid py-5">
                                <div class="class-item text-black mt-3 ">
                                    Clases de bachata
                                    <button class="modify-button btn">Modificar</button>
                                    <div class="class-description text-black">Estudiantes inscritos: 40</div>
                                </div>

                                <div class="class-item text-black">
                                    Clases de salsa
                                    <button class="modify-button btn">Modificar</button>
                                    <div class="class-description text-black">Estudiantes inscritos: 26</div>
                                </div>

                                <div class="class-item text-black">
                                    Clases de Dancehall
                                    <button class="modify-button btn">Modificar</button>
                                    <div class="class-description text-black">Estudiantes inscritos: 26</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Calender Alumns Final-->

            <!-- Carrusel Events-->
            <div class="col-md-6 mb-4">
                <div id="carouselExampleIndicators" class="carousel slide box-carrusel" data-ride="carousel">
                    <!-- Slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="flip-card" onclick="flipCard(this)">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="../../Public/Assets/img/icons/Evento1.jpeg" id="eventImage1"
                                            class=" py-1 d-block w-100 img-fluid height-400" alt="Primera Imagen">
                                    </div>
                                    <div class="flip-card-back event1">
                                        <h5 id="eventTitle1">Título del Evento</h5>
                                        <p id="eventAddress1">Dirección: Calle Falsa 123</p>
                                        <p id="eventTime1">Hora: 18:00</p>
                                        <p id="eventHost1">Anfitrión: John Doe</p>
                                        <p id="eventDescription1">Descripción: Esta es la descripción del evento 1.</p>
                                        <button class="btn btn-light btn-sm ModificationEventsBtn"
                                            onclick="openModal('event1')">Modificar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="flip-card" onclick="flipCard(this)">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="../../Public/Assets/img/icons/Evento2.jpeg" id="eventImage2"
                                            class="d-block w-100 img-fluid" alt="Segunda Imagen">
                                    </div>
                                    <div class="flip-card-back event2">
                                        <h5 id="eventTitle2">Título del Evento</h5>
                                        <p id="eventAddress2">Dirección: Calle Verdadera 456</p>
                                        <p id="eventTime2">Hora: 20:00</p>
                                        <p id="eventHost2">Anfitrión: Jane Smith</p>
                                        <p id="eventDescription2">Descripción: Esta es la descripción del evento 2.</p>
                                        <button class="btn btn-light btn-sm ModificationEventsBtn"
                                            onclick="openModal('event2')">Modificar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="flip-card" onclick="flipCard(this)">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="../../Public/Assets/img/icons/Evento3.jpeg" id="eventImage3"
                                            class="d-block w-100 img-fluid" alt="Tercera Imagen">
                                    </div>
                                    <div class="flip-card-back event3">
                                        <h5 id="eventTitle3">Título del Evento</h5>
                                        <p id="eventAddress3">Dirección: Avenida Ejemplo 789</p>
                                        <p id="eventTime3">Hora: 19:30</p>
                                        <p id="eventHost3">Anfitrión: Alice Johnson</p>
                                        <p id="eventDescription3">Descripción: Esta es la descripción del evento 3.</p>
                                        <button class="btn btn-light btn-sm ModificationEventsBtn"
                                            onclick="openModal('event3')">Modificar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controles -->
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                    <!-- Controles -->
                </div>
            </div>
            <!-- Carrusel Events Final-->
        </div>
    </div>

    <!-- Modal Events -->
    <div id="modalModificar" class="modal-events">
        <div class="modal-content-events">
            <h2 class="h2-events">Modificar Evento</h2>
            <form id="formEvento">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" value="">

                <label for="hora">Hora:</label>
                <input type="time" id="hora" name="hora" value="">

                <label for="anfitrion">Anfitrión:</label>
                <input type="text" id="anfitrion" name="anfitrion" value="">

                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion"></textarea>

                <label for="imagen">Cambiar Imagen:</label>
                <input type="file" id="imagen" name="imagen" accept="image/*">

                <button type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>
    <!-- Modal Events Final-->



    <!-- JS Controllers-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../../Public/Assets/js/main.js"></script>
    <script src="../../Public/Controllers/ControllersAdmission.js"></script>
    <!-- JS Controllers Final-->
<!-- Footer -->
<footer class="footer">
    <ul class="social-icon">
        <li class="icon-elem">
            <a href="" class="icon">
                <ion-icon name="logo-youtube"></ion-icon>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <ion-icon name="logo-tiktok"></ion-icon>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </a>
        </li>
    </ul>
    <ul class="menu">
        <li class="menu-elem">
            <a href="" class="menu-icon">Inicio</a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon">Equipo</a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon">Contacto</a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon">Video</a>
        </li>
    </ul>
    <p class="text">@Año | todos los derechos reservados</p>
</footer>
<!-- Footer -->

</body>




</html>